<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather App</title>
    <link rel="stylesheet" href="{{ url_for('static',filename="style.css") }}">
</head>
<body>
    <div class="container">
    <h2>Weather Forecast</h2>
    <form method="POST">
        <input type="text" name="city" placeholder="Enter the City's name" required>
        <button type="submit">Get Weather</button>
    </form>

    {% if error %}
        <p class="error">Error: {{ error }}</p>
    {% endif %}
    {% if result %}
        <div class="result">
            <h3> Weather Information </h3>
            <p><strong> City:</strong>{{ result.city }}</p>
            <p><strong>Temperature:</strong>{{ result.temperature }}</p>
            <p><strong> Humidity:</strong>{{ result.humidity }}</p>
            <p><strong> Description:</strong>{{ result.description }}</p>
        </div>
    {% endif %}   
    </div>
</body>
</html>